input,
select {
  width: 100%;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  outline: none;
}

input:hover,
select:hover {
  border-color: #bbb;
}

input:focus,
select:focus,
input:active,
select:active {
  border-color: #409eff;
}
button {
  height: 32px;
  line-height: 32px;
  padding: 0 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
  box-sizing: border-box;
}

button:focus,
button:hover {
  color: #409eff;
  border-color: #c6e2ff;
  background-color: #ecf5ff;
  outline: none;
}
button:active {
  border-color: #409eff;
  outline: none;
}
